.places {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: space-around;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    display: block;
    flex-grow: 2;
    width: 100%;
    margin-left: 1em;
}

.places article {
    position: relative;
    
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

section.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

section.places h1 {
	font-size: 30px;
	margin-left: 20px;
	width: 100%;
}
/* price by night */
.places article .price_by_night{
    color: #FF5A5F;
    border: #FF5A5F solid 4px;
    min-width: 60px;
    border-radius: 50%;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    text-align: right;
    top:20px;
    right:20px;
    justify-content: center;
}
.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.max_guest, .number_rooms, .number_bathrooms {
    background-repeat: no-repeat;
    width: 100px;
    background-position: center 10px;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information .max_guest {
    background-image: url(../images/icon_group.png);

}

.places article .number_rooms {
   	background-image: url('../images/icon_bed.png');
}

.places article .number_bathrooms {
  	background-image: url('../images/icon_bath.png');
}





