.places {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: space-around;
}

.places h1 {
    text-align: left;
    font-size: 30px;
    display: block;
    flex-grow: 2;
    width: 100%;
    margin-left: 1em;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}

section.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

section.places h1 {
	font-size: 30px;
	margin-left: 20px;
	width: 100%;
}

.places article .price_by_night{
    color: #FF5A5F;
    border: #FF5A5F 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: block;
    text-align: right
}

.places article.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
	display: flex;
	align-items: center;
    
}

.places article.max_guest {
    align-items: flex-start;
    background-position: center top;
	background-repeat: no-repeat;
    width: 100px;
    width: 100px;
    height: 100%;
	background-image: url('../images/icon_group.png');
}

.places article.number_rooms {
    align-items: flex-start;
    background-position: center top;
	background-repeat: no-repeat;
    width: 100px;
    width: 100px;
    height: 100%;
	background-image: url('../images/icon_bed.png');
}

.places article.number_bathrooms {
    align-items: flex-start;
    background-position: center top;
	background-repeat: no-repeat;
    width: 100px;
    height: 100%;
    justify-content: center;
	background-image: url('../images/icon_bath.png');
}





